<!DOCTYPE html>
<html lang = "en">
    <head> 
        <title> Rubix Cube Simulator </title>
        <link rel = "stylesheet" href = "/static/styles.css">
    </head>

    <body>
        <h1 style = "text-align: center;"> Rubix Cube Simulator </h1>
        
        <div class = "container"> 
            <div class="face-grid" id = "white"></div>
                <div class = "row">
                    <div class="face-grid" id = "orange"></div>
                    <div class="face-grid" id = "green"></div>
                    <div class="face-grid" id = "red"></div>
                    <div class="face-grid" id = "blue"></div>
                </div>
            <div class="face-grid" id = "yellow"></div>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>